<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.priya.practice_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
           </activity>
        <activity
            android:name=".CarPooling"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.priya.myapplication.CarPooling" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Offer_Ride"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.priya.myapplication.Offer_Ride" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Take_A_Ride"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.priya.myapplication.Offer_Ride" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


    </application>

</manifest>
